absl-py==2.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.12.12
aiosignal==1.3.2
airportsdata==20250523
annotated-types==0.7.0
anyio==4.4.0
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
astor==0.8.1
astroid==3.2.4
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
blake3==1.0.5
bleach==6.1.0
blinker==1.8.2
cachetools==6.0.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.1
comm==0.2.2
compressed-tensors==0.9.4
contourpy==1.3.0
cycler==0.12.1
datasets==3.6.0
debugpy==1.8.5
decorator==5.1.1
defusedxml==0.7.1
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.8
distro==1.9.0
Django==5.1.1
dlib==19.24.6
dnspython==2.7.0
dotenv==0.9.9
einops==0.8.1
email_validator==2.2.0
executing==2.1.0
fastapi==0.115.12
fastapi-cli==0.0.7
fastjsonschema==2.20.0
filelock==3.18.0
Flask==3.0.3
flask-cors==5.0.1
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
fonttools==4.53.1
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2024.9.0
gast==0.6.0
gguf==0.17.0
google-pasta==0.2.0
googleapis-common-protos==1.70.0
grad-cam==1.5.5
graphviz==0.20.3
grpcio==1.66.1
h11==0.14.0
h5py==3.11.0
hf-xet==1.1.3
httpcore==1.0.5
httptools==0.6.4
httpx==0.27.2
huggingface==0.0.1
huggingface-hub==0.32.5
idna==3.10
importlib_metadata==8.7.0
interegular==0.3.3
ipykernel==6.29.5
ipython==8.27.0
ipywidgets==8.1.5
isoduration==20.11.0
isort==5.13.2
itsdangerous==2.2.0
jax==0.4.31
jaxlib==0.4.31
jedi==0.19.1
Jinja2==3.1.6
jiter==0.10.0
joblib==1.4.2
json5==0.9.25
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keras==3.5.0
kiwisolver==1.4.7
langchain==0.3.25
langchain-core==0.3.63
langchain-text-splitters==0.3.8
langsmith==0.3.43
lark==1.2.2
libclang==18.1.1
lightgbm==4.5.0
llguidance==0.7.29
lm-format-enforcer==0.10.11
lxml==5.3.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mccabe==0.7.0
mdurl==0.1.2
mistral_common==1.6.0
mistune==3.0.2
ml-dtypes==0.4.1
mlxtend==0.23.4
mpmath==1.3.0
msgspec==0.19.0
multidict==6.4.4
multiprocess==0.70.16
namex==0.0.8
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.4
nltk==3.9.1
notebook==7.2.2
notebook_shim==0.2.4
numpy==1.26.4
openai==1.86.0
opencv-python==4.10.0.84
opencv-python-headless==4.11.0.86
opentelemetry-api==1.34.1
opentelemetry-exporter-otlp==1.34.1
opentelemetry-exporter-otlp-proto-common==1.34.1
opentelemetry-exporter-otlp-proto-grpc==1.34.1
opentelemetry-exporter-otlp-proto-http==1.34.1
opentelemetry-proto==1.34.1
opentelemetry-sdk==1.34.1
opentelemetry-semantic-conventions==0.55b1
opentelemetry-semantic-conventions-ai==0.4.9
opt-einsum==3.3.0
optree==0.12.1
orjson==3.10.18
outcome==1.3.0.post0
outlines==0.1.11
outlines_core==0.1.26
overrides==7.7.0
packaging==24.2
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
partial-json-parser==0.2.1.1.post5
patsy==1.0.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.3.3
plotly==5.24.1
prometheus-fastapi-instrumentator==7.1.0
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.3.2
protobuf==5.29.5
psutil==6.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyarrow==20.0.0
pycountry==24.6.1
pycparser==2.22
pydantic==2.11.5
pydantic_core==2.33.2
pydot==3.0.1
Pygments==2.18.0
pylint==3.2.7
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-json-logger==2.0.7
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
redis==6.2.0
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.8.1
rich-toolkit==0.14.7
rpds-py==0.20.0
safetensors==0.5.2
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
selenium==4.24.0
Send2Trash==1.8.3
sentencepiece==0.2.0
setuptools==79.0.1
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.34
sqlparse==0.5.1
stack-data==0.6.3
starlette==0.46.2
statsmodels==0.14.4
sympy==1.14.0
tenacity==9.0.0
tensorboard==2.17.1
tensorboard-data-server==0.7.2
tensorflow==2.17.0
termcolor==2.4.0
terminado==0.18.1
threadpoolctl==3.5.0
tiktoken==0.9.0
timm==1.0.15
tinycss2==1.3.0
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.7.0
torchaudio==2.7.0
torchinfo==1.8.0
torchvision==0.22.0
tornado==6.4.1
tqdm==4.67.1
traitlets==5.14.3
transformers==4.52.4
trio==0.26.2
trio-websocket==0.11.1
ttach==0.0.3
typer==0.16.0
types-python-dateutil==2.9.0.20240906
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2024.1
uri-template==1.3.0
urllib3==2.2.3
uvicorn==0.34.3
uvloop==0.21.0
virtualenv==20.26.4
vllm==0.9.0.1
watchfiles==1.0.5
wcwidth==0.2.13
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.0.4
wheel==0.44.0
widgetsnbextension==4.0.13
wrapt==1.16.0
wsproto==1.2.0
xgboost==2.1.3
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
zstandard==0.23.0
